{{ attach_library('css/islandora_fits') }}

<div>
    <details >
        <summary class="islandora_fits_summary">Fits Metadata</summary>
        <p>{{ link }}</p>
        {% for entry in output %}
            <h2> {{ entry.title }} </h2>
            <div>{{ entry.data }}</div>
        {% endfor %}
    </details>

</div>
